body {
  color: black;
  background-color: white;
}

@media (prefers-color-scheme: dark) {
  body {
    color: rgb(218, 225, 232);
    background-color: rgb(15, 11, 21);
  }
}

.content-writing {
  max-width: 800px;
  margin-top: 3em;
  margin-left: 16px;
  padding-left: 16px;
  margin-right: auto;
  font: 16px/24px Georgia;
  position: relative;
}

.content-writing p,
.content-writing ol,
.content-writing ul
{
  max-width: 600px;
}

header h1 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 2em;
  margin-top: 10px;
}

@font-face {
  font-family: "Monaspace Neon";
  font-weight: normal;
  src: url('/fonts/MonaspaceNeon-Regular.woff') format('woff');
}

@font-face {
  font-family: "Monaspace Neon";
  font-weight: normal;
  font-style: italic;
  src: url('/fonts/MonaspaceNeon-Italic.woff') format('woff');
}

@font-face {
  font-family: "Monaspace Neon";
  font-weight: bold;
  src: url('/fonts/MonaspaceNeon-Bold.woff') format('woff')
}

@font-face {
  font-family: "Monaspace Neon";
  font-weight: bold;
  font-style: italic;
  src: url('/fonts/MonaspaceNeon-BoldItalic.woff') format('woff')
}

pre, code {
  font-family: "Monaspace Neon", "SF Mono","SFMono-Regular",ui-monospace,Courier,monospace;
  font-size: 0.95em;
}
.content-writing p code,
.content-writing li code,
.content-writing pre {
  font-size: 14px;
}
.content-writing pre {
  margin: 15px 0;
  line-height: 18px;
}
.content-writing > div.sourceCode a {
  border: none;
}
.content-writing ol {
  margin: 1em 0;
  padding: 0 1em 0 1em;
}

figcaption {
  max-width: 700px;
  margin: 0.2em auto 16px auto;
  padding: 0 16px;
  font: 11px/18px Verdana;
  text-align: center;
  color: #555;
}

@media (prefers-color-scheme: dark) {
  figcaption {
    color: #aaa;
  }
}

figure {
  max-width: 600px;
  margin: 1.5em auto 1em 0;
  text-align: center;
}
figure img {
  max-width: 100%;
}

p > img {
  max-width: 530px;
}

.sourceCode span.kw { color: #333333; } /* Keyword */
.sourceCode span.dt { color: #902000; } /* DataType */
.sourceCode span.dv { color: #40a070; } /* DecVal */
.sourceCode span.bn { color: #40a070; } /* BaseN */
.sourceCode span.fl { color: #40a070; } /* Float */
.sourceCode span.ch { color: #4070a0; } /* Char */
.sourceCode span.st { color: #4070a0; } /* String */
.sourceCode span.co { color: #777777; font-style: italic; } /* Comment */
.sourceCode span.ot { color: #4070a0; } /* Other */
.sourceCode span.al { color: #ff0000; font-weight: bold; } /* Alert */
.sourceCode span.fu { color: #06287e; } /* Function */
.sourceCode span.er { color: #ff0000; font-weight: bold; } /* Error */
.sourceCode span.wa { color: #60a0b0; font-weight: bold; font-style: italic; } /* Warning */
.sourceCode span.cn { color: #880000; } /* Constant */
.sourceCode span.sc { color: #4070a0; } /* SpecialChar */
.sourceCode span.vs { color: #4070a0; } /* VerbatimString */
.sourceCode span.ss { color: #bb6688; } /* SpecialString */
.sourceCode span.im { } /* Import */
.sourceCode span.va { color: #19177c; } /* Variable */
.sourceCode span.cf { color: #668e4a; } /* ControlFlow */
.sourceCode span.op { color: #666666; } /* Operator */
.sourceCode span.bu { } /* BuiltIn */
.sourceCode span.ex { } /* Extension */
.sourceCode span.pp { color: #bc7a00; } /* Preprocessor */
.sourceCode span.at {  } /* Attribute */
.sourceCode span.do { color: #ba2121; font-style: italic; } /* Documentation */
.sourceCode span.an { color: #60a0b0; font-weight: bold; font-style: italic; } /* Annotation */
.sourceCode span.cv { color: #60a0b0; font-weight: bold; font-style: italic; } /* CommentVar */
.sourceCode span.in { color: #60a0b0; font-weight: bold; font-style: italic; } /* Information */

@media (prefers-color-scheme: dark) {
  .sourceCode span.   { color: #b8c6d5; } /* Normal */
  .sourceCode span.al { color: #f47359; } /* Alert */
  .sourceCode span.an { color: #61a06c; } /* Annotation */
  .sourceCode span.at { color: #3f95f6; } /* Attribute */
  .sourceCode span.bn { color: #d1803f; } /* BaseN */
  .sourceCode span.bu { color: #807c9f; } /* BuiltIn */
  .sourceCode span.cf { color: #af85ea; } /* ControlFlow */
  .sourceCode span.ch { color: #4fbaef; } /* Char */
  .sourceCode span.cn { color: #00a392; } /* Constant */
  .sourceCode span.co { color: #807c9f; } /* Comment */
  .sourceCode span.cv { color: #807c9f; } /* CommentVar */
  .sourceCode span.do { color: #ef6560; } /* Documentation */
  .sourceCode span.dt { color: #6a9fff; } /* DataType */
  .sourceCode span.dv { color: #d1803f; } /* DecVal */
  .sourceCode span.er { color: #ff6a7a; } /* Error */
  .sourceCode span.ex { color: #029fff; } /* Extension */
  .sourceCode span.fl { color: #d1803f; } /* Float */
  .sourceCode span.fu { color: #b8c6d5; } /* Function */
  .sourceCode span.im { color: #29a444; } /* Import */
  .sourceCode span.in { color: #df9080; } /* Information */
  .sourceCode span.kw { color: #b8c6d5; } /* Keyword */
  .sourceCode span.op { color: #af85ea; } /* Operator */
  .sourceCode span.ot { color: #29a444; } /* Other */
  .sourceCode span.pp { color: #29a444; } /* Preprocessor */
  .sourceCode span.re { color: #3f95f6; } /* RegionMarker */
  .sourceCode span.sc { color: #4fbaef; } /* SpecialChar */
  .sourceCode span.ss { color: #ff6a7a; } /* SpecialString */
  .sourceCode span.st { color: #abc4e7; } /* String */
  .sourceCode span.va { color: #00a392; } /* Variable */
  .sourceCode span.vs { color: #ff6a7a; } /* VerbatimString */
  .sourceCode span.wa { color: #ff6a7a; } /* Warning */
}

footer#main {
  margin: 0 auto;
  padding: 0.5em 1em 3em 1em;
  max-width: 800px;
  font-size: 11px;
  font-family: Georgia, serif;
  font-style: italic;
  border-top: 0.5px solid #bbb;
}

header#main-header {
  margin: 0 auto 3em 1em;
  padding: 0.5em 1em 0.5em 1em;
  max-width: 800px;
  font-size: 14px;
  font-family: "Monaspace Neon", monospace;
  font-weight: 400;
  text-align: left;
  color: #999;

  background-image: linear-gradient(to right, rgb(161,33,161), transparent);
  background-position: bottom;
  background-size: 100% 5px;
  background-repeat: no-repeat;
}

header#main-header .home {
  font-weight: 700;
}

header#main-header a[href] {
  color: #222;
  border-bottom: none;
}
header#main-header a[href]:before {
  width: 8px;
  display: inline-block;
  content: " ";
  color: #777;
}
header#main-header a[href]:after {
  width: 8px;
  display: inline-block;
  content: " ";
  color: #777;}

header#main-header a[href]:hover:before {
  content: "[";
}
header#main-header a[href]:hover:after {
  content: "]";
}
header#main-header a[href].active:before {
  color: black;
  content: "[";
}
header#main-header a[href].active:after {
  color: black;
  content: "]";
}
header#main-header a[href]:hover {
  color: black;
  border-bottom: 1px solid #eee;
}

@media (prefers-color-scheme: dark) {
  header#main-header {
    color: #bbb;
  }
  header#main-header a[href] {
    color: #ccc;
  }
  header#main-header a[href]:before {
    color: #aaa;
  }
  header#main-header a[href]:after {
    color: #aaa;
  }
  header#main-header a[href].active:before {
    color: white;
  }
  header#main-header a[href].active:after {
    color: white;
  }
  header#main-header a[href]:hover {
    color: white;
    border-bottom-color: #333;
  }
}

a[href] {
  color: rgb(101, 24, 96);
  text-decoration:none;
  border-bottom:1px solid #931d9e;
}

a[href]:hover {
  border-bottom: 1px solid black;
}

a.journal-permalink {
  border-bottom: none;
  font-weight: 700;
  color: #575757;
  padding-right: 2px;
  position: relative;
  bottom: 1px;
}

@media (prefers-color-scheme: dark) {
  a[href] {
    color: rgb(214, 168, 230);
    border-bottom-color: #6c379f;
  }

  a[href]:hover {
    border-bottom-color: white;
  }

  a.journal-permalink {
    color: #aaa;
  }
}

footer.post-footer {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  font-style: italic;
  font-weight: 300;
  margin-top: 2em;
  margin-bottom: 2em;
}

div.aside {
  position: absolute;
  left: 665px;
  width: 230px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 11px;
  line-height: 16px;
  font-weight: 400;
  color: #222;
  margin-top: 0.4em;
}

@media (prefers-color-scheme: dark) {
  div.aside {
    color: #ccc;
  }
}

.content-writing div.aside p {
  margin-top: 0;
}
.content-writing div.aside code {
  font-size: 10px;
}

.journal-entry .post-header {
  max-width: 800px;
  margin-left: 1em;
  margin-right: auto;
  padding: 15px 1em 0 1em;
}
.journal-entry.static-page .post-header {
  margin-top: 35px;
}
.journal-entry:first-child .post-header {
  border: none;
  padding-top: 0;
}
.journal-detail {
  margin-bottom: 3em;
}
.journal-entry.journal-detail .post-header {
  padding-top: 0;
}
.journal-date {
  margin-top: 2em;
  margin-bottom: 0;
  font-family: "Monaspace Neon", monospace;
  font-size: 14px;
  font-weight: 400;
  color: #444;
}

@media (prefers-color-scheme: dark) {
  .journal-date {
    color: #ccc;
  }
}

.journal-entry .content-writing h1 {
  margin-top: 48px;
  font-size: 18px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 600;
  color: #181818;
}

@media (prefers-color-scheme: dark) {
  .journal-entry .content-writing h1 {
    color: rgb(218, 225, 232);
  }
}

.journal-entry .content-writing h2 {
  font-size: 17px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  margin-top: 35px;
  font-style: italic;
}
pre.sourceCode {
  padding: 10px 10px 10px 18px;
  width: 610px;
  border-left: 2px dotted rgb(207, 207, 207);
  background-color: rgb(249, 250, 251);
}
@media (prefers-color-scheme: dark) {
  pre.sourceCode {
    border-left: 2px dotted rgb(85, 85, 85);
    background-color: rgb(31, 4, 31);
  }
}
blockquote {
  font-size: 13px;
  line-height: 17px;
  color: #666;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  border-left: 2px solid #ccc;
  margin-left: 0;
  padding-left: 15px;
}

/* journal archive */
.journal-archive {
  font-size: 14px;
  max-width: 800px;
  margin-left: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-bottom: 4em;
}
.journal-archive h2 {
  font-size: 1em;
  margin-top: 3em;
  margin-bottom: 1em;
  font-family: "Monaspace Neon", monospace;
  font-weight: 400;
  color: #858585;
  font-size: 14px;
}
.journal-archive h3 {
  font-size: 1em;
  margin-top: 2em;
  margin-bottom: 1em;
  font-family: "Monaspace Neon", monospace;
  font-weight: bold;
  font-size: 13px;
}
.journal-archive .journal-archive-title {
  margin: 0.5em 0;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
}

#lists-home {
  max-width: 800px;
  margin-left: 1em;
  margin-right: auto;
  margin-top: 13px;
  padding: 15px 1em 0 1em;
}

.list-entry p, .list-entry div {
  display: inline;
}

.list-entry .title {
  font-style: italic;
  padding-right: 3px;
}

.list-entry .author {
  color: #4b4b4b;
}

@media (prefers-color-scheme: dark) {
  .list-entry .author {
    color: #959595;
  }
}

.list-entry {
  margin: 0 0 1em 0;
}
