<!doctype html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>$title$</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/base-2.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/writings-2.css" />

    $if(extraCss)$
    <link rel="stylesheet" type="text/css" href="/stylesheets/$extraCss$" />
    $endif$
  </head>

  <body>
    $body$

    <footer id="main">
      <p>
        <a href="/">mikey.bike</a> — writing about biking and other things.
      </p>
    </footer>
  </body>
</html>
