<!doctype html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>$title$</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/base-2.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/writings-2.css" />

    $if(extraCss)$
    <link rel="stylesheet" type="text/css" href="/stylesheets/$extraCss$" />
    $endif$
  </head>

  <body>
    <header id="banner">
      <h1><a href="/">mikey.bike</a></h1>
    </header>

    $body$

    <footer id="main">
      <p>
        <a href="/">mikey.bike</a> is where I occasionally post photographs and stories that sometimes involve bicycling.
        <br>Also see my main website, <a href="http://mjhoy.com">mjhoy.com</a>.
      </p>
    </footer>
  </body>
</html>
